<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="golden-master-graphics-file" value="c:\Temp\TopGame-GoldenMaster-Graphics.json" />
    <add key="golden-master-game-file" value="c:\Temp\TopGame-GoldenMaster-Game.json" />
  </appSettings>
</configuration>