<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="current-golden-master-graphics-file" value="TopGame-GoldenMaster-Graphics-011.json" />
    <add key="json-graphics-test-file" value="c:\Temp\TopGame-GoldenMaster-Graphics-testing.json" />
    <add key="current-golden-master-game-file" value="TopGame-GoldenMaster-Game-002.json" />
    <add key="json-game-test-file" value="c:\Temp\TopGame-GoldenMaster-Game-testing.json" />
  </appSettings>
</configuration>