<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="current-golden-master-file" value="TopGame-GoldenMaster-010.json" />
    <add key="json-test-file" value="c:\Temp\TopGame-GoldenMaster-testing.json" />
  </appSettings>
</configuration>